/* About Container */
.about-container {
    background-color: rgb(17, 24, 39);
    max-width: 100vw;
    min-height: 100vh;
    margin: 0 auto;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* About Heading */
.about-heading {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #f1c21c;
}

/* About Content */
.about-content {
    font-size: 1.5rem;
    color: #ccc;
    margin-bottom: 2rem;
}

/* Skills Section */
.skills-container {
    padding: 1rem;
    overflow: hidden;
    margin-top: 2rem;
    background-color: #2d3748;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.skills-list {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.skill {
    background-color: #2d3748;
    color: #f1c21c;
    border-radius: 10px;
    padding: 1.5rem;
    text-align: center;
    transition: transform 0.3s ease;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.skill img {
    width: 70px;
    height: 70px;
    margin-bottom: 1rem;
    object-fit: contain;
    transition: transform 0.3s ease;
    border-radius: 50%;
}

/* Center Logo Styles */
.skills-list .center-logo {
    transform: scale(1.5);
}

/* Inner Ring Logo Styles */
.skills-list .inner-ring img {
    transform: scale(1.4);
}

/* Middle Ring Logo Styles */
.skills-list .middle-ring img {
    transform: scale(1.3);
}

/* Outer Ring Logo Styles */
.skills-list .outer-ring img {
    transform: scale(1.2);
}

/* Outermost Ring Logo Styles */
.skills-list .outermost-ring img {
    transform: scale(1.1);
}

/* Hover Effect */
.skill:hover {
    transform: scale(1.05);
}

/* Resume Container */
.resume-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    background: linear-gradient(90deg, #f1c21c, #f99e0b);
    padding: 1.5rem 2rem;
    border-radius: 15px;
    transition: box-shadow 0.3s ease, background 0.3s ease, transform 0.3s ease;
}

/* Resume Button */
.cta-button {
    color: #1a202c;
    font-size: 1.5rem;
    text-decoration: none;
    border-radius: 10px;
    margin-top: 1rem;
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

/* Mobile styles */
@media screen and (max-width: 767px) {

    /* Adjust padding for smaller screens */
    .about-container {
        padding: 2rem;
    }

    .about-heading {
        font-size: 2rem;
    }

    .about-content {
        font-size: 1.25rem;
    }

    .skills-container {
        padding: 0.5rem;
        margin-top: 1rem;
    }

    .skill {
        padding: 1rem;
        margin-bottom: 1rem;
    }

    .skill img {
        width: 50px;
        height: 50px;
    }

    .resume-cont {
        padding: 1rem;
    }

    .cta-button {
        margin-top: 0.5rem;
    }
}