/* General styles */

* {
    box-sizing: border-box;
    /* z-index: 9; */
}

body {
    margin: 0;
    font-family: 'YourPreferredFont', sans-serif;
    /* Add your preferred font here */
}

/* Home Container */
.home-p {
    max-height: 50vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
    /* margin: 0 auto; */
    padding: 2rem;
}

/* Home Name Section */
.home-name {
    max-width: 900px;
    margin-top: 3rem;
    margin-left: 5rem;
    text-align: left;
    /* Adjust text alignment */
}

.Hi {
    font-size: 3.5rem;
    color: black;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.mern {
    color: #666;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.mern-desc {
    font-size: 1.25rem;
    color: #666;
}

.home-pic {
    max-width: 50vw;
    padding: 0;
    margin-top: 5rem;
    transform: scale(100%);
    /* margin: 100px 0 0 -100px;  */
           /* z-index: -999; */
}

.home-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ensure the image covers the container without distorting */
    

}

/* Icons List Section */
.icons-list {
    margin-top: 1.2rem;
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: flex-start;
    /* Align icons to the start */
}

.icons-list li {
    margin-right: 1rem;
}

.icons-list img {
    width: 40px;
    height: 40px;
}

/* Mobile styles */
@media screen and (max-width: 760px) {
    .home-p {
        position: relative;
        display: grid;
        /* grid-auto-columns: min-content; */
        max-width: fit-content;
        justify-content: space-between;
        flex-direction: column;
        gap: 2rem;
        padding: 0;
        margin: 0;
        /* align-items: center; */
        text-align: center;
        min-height: 100vh;
        /* margin-bottom: 2rem; */
    }

    .home-name {
        /* margin-top: 10rem; */
        margin-left: 0;
        text-align: center;
        
        /* Center text on small screens */
    }

    .Hi {
        font-size: 2rem;
    }

    .mern,
    .mern-desc {
        font-size: 1rem;

    }

    .home-pic {
        /* display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        position: absolute;
        transform: translateY(-15rem);
        padding: -2rem; */
        display: none;
        
    
    }

    .home-pic img {
        /* margin: 2rem; */
        
        border: none;
       
        /* Remove border on small screens */
        border-radius: 0;
        /* Remove border-radius on small screens */
    }

    .icons-list {
        justify-content: center;
    }

    .icons-list img {
        width: 30px;
        height: 30px;
    }

    /* .wave-cont {
        display: none;
    } */
}