/* ProjectCard.css */

.project-card {
    margin: 0 auto;
    /* Center the card */
    max-width: 300px;
    /* Set a maximum width for better responsiveness */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    transition: box-shadow 0.3s ease;
}

.project-card:hover {
    box-shadow: 2px 2px 8px #f1c21c, -2px -2px 8px #f1c21c;
}

.project-image {
    width: 100%;
    max-height: 200px;
    /* Set a maximum height for better responsiveness */
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.project-details {
    text-align: center;
}

.project-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
}

.project-description {
    font-size: 1rem;
    color: #aaa;
    margin-bottom: 10px;
}

.project-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f1c21c;
    color: rgb(17, 24, 39);
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.project-link:hover {
    background-color: #f1c21c;
}

/* Media query for smaller screens */
@media (max-width: 767px) {
    .project-card {
        max-width: 100%;
        /* Allow the card to take full width on smaller screens */
    }
}