/* ProjectCard.css */

.project-card {
    margin: 0 auto;
    max-width: 300px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #121212;
    /* Match the background color of About component */
    box-shadow: 20px 20px 40px #000, -20px -20px 40px #232323;
    /* Neumorphic shadow */
    border-radius: 20px;
    transition: box-shadow 0.3s ease;
}

.project-card:hover {
    box-shadow: 30px 30px 60px #000, -30px -30px 60px #232323;
    /* Neumorphic shadow on hover */
}

.project-image {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.project-details {
    text-align: center;
}

.project-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
}

.project-description {
    font-size: 1rem;
    color: #aaa;
    margin-bottom: 10px;
}

.project-link {
    margin: 0 auto;
        max-width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        border-radius: 20px;
        color: #ff5555;
        box-shadow: 10px 10px 20px #000, -10px -10px 20px #232323;
        transition: box-shadow 0.3s ease, color 0.3s ease;
}

.project-link:hover {
    box-shadow: 10px 10px 40px rgba(255, 85, 85, 0.8), -10px -10px 40px rgba(255, 255, 255, 0.3);    /* Neumorphic shadow on hover */
}

@media screen and (max-width: 767px) {
            .project-card{
            min-width: 100%;
            }
         
}